<html>
<head>
	<title>Map</title>
	<link rel="stylesheet" type="text/css" href="style.css">


	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Tangerine|Inconsolata|Droid+Sans">
</head>

<body ng-app= "myApp">

<div ng-controller = "AppCtrl">

		<div class="intro">
				<p class="lead">Find a place to eat with a click of a button!</p>

		</div>

	<div class="mainContainer">

		<div class="container">

			<div class="settings">

				<div class="row">

					<div class="col-md-6 col-md-offset-3 option1" >
					<input id="input" placeholder = "Quick. I am starving" type="text" size="60" ng-model="input" googleplace>
					</div>

				</div>

				<div class="buttons row">

					<div class="col-md-6 col-md-offset-4">

						<button id="yelpbutton"  ng-click="search()" class="btn btn-success search">Find me a place to Eat</button>

					</div>

					<div class="row">
						<div class=".col-md-4 col-md-offset-4">
						<button id="next" class="btn btn-primary" ng-show = "show" ng-click="next()">Next</button>
						<button id="reset" class="btn btn-danger"  ng-show = "show" ng-click="reset()">Reset</button>
						</div>

					</div>


				</div>

				<hr>

			</div>


			<div id="result">

				<h4>{{display_name}}</h4>
				<img ng-src="{{rating_img}}">
				<p><q>{{snippet}}</q></p>
				<strong id="modify"></strong>
			</div>


			<div class="row inline">

				<div class="col-md-6">
					<button id="button" ng-show = "show" class="btn btn-info btn-xs">Show Direction</button>

					<div id="map-canvas">

					</div>

				</div>



					<div class="col-md-6 yelp">

						<div class="yelp-background">

							<h4> {{name}}</h4>
							<h4>{{address}}</h4>
							<h4> {{status}}</h4>
							<h4>{{rating}}</h4>
							<h4>{{contact}}</h4
							<h4><a href="{{website}}" id="websitelink" target="_blank">{{displayWebsite}}</a></h4>
							<h4><a href="{{url}}" id="yelplink" target="_blank"> {{link}}</a></h4>

							<!--
							<div class="list-group" data-ng-repeat = "review in reviews">
								<ul class="reviewlist">
							  	<li class="list-group-item list-group-item-action list-group-item-info">{{review.author_name}}</strong> : {{review.text}}</a>
							  </ul>
							</div>

							-->

						</div>


					</div>

				</div>

				<div class="slideshow-container">

				  <div class="mySlides">
				    	<img ng-src="{{listOfPhotos[0]}}" class="image">
				  </div>


				  <div class="mySlides">
				    	<img ng-src="{{listOfPhotos[1]}}" class="image">

				  </div>


				  <div class="mySlides">
				    	<img ng-src="{{listOfPhotos[2]}}" class="image">
				  </div>


				  <div class="mySlides">
				    	<img ng-src="{{listOfPhotos[3]}}" class="image">
				  </div>

				   <div class="mySlides">
				    <img ng-src="{{listOfPhotos[4]}}" class="image">
				  </div>

				   <div class="mySlides">
				    	<img ng-src="{{listOfPhotos[5]}}" class="image">
				  </div>

				  <div class="mySlides">
				    	<img ng-src="{{listOfPhotos[6]}}" class="image">
				  </div>

				  <div class="mySlides">
				    	<img ng-src="{{listOfPhotos[7]}}" class="image">
				  </div>



				</div>


		</div>



	</div>

</div>


		<div id="footer" ng-controller = "footerController">

			<p>&copy; 2016 Rashul Rajbhandari<p>
			<p>
				Thanks to <i class="fa fa-yelp fa-lg" aria-hidden="true"></i>
					and <i class="fa fa-google fa-lg" aria-hidden="true"></i>
					and <strong> Prashish Rajbhandari </strong>
			</p>
			<p>Contact</p>
			<p>
					<i class="fa fa-facebook-official fa-3x m-left" ng-click="fb()"></i>
					<i class="fa fa-github fa-3x m-left" ng-click="git()"></i>
					<i class="fa fa-twitter fa-3x m-left" ng-click ="twitter()"></i>
					<i class="fa fa-medium fa-3x m-left" ng-click="medium()"></i>

			</p>


		</div>



	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDs9B3tpfCGaVmvWZ-gdMbvckaiU4Q8Azw&libraries=places" type="text/javascript"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>

	<script src="js/Mapster.js"></script>
	<script src="js/map-options.js"> </script>
	<script src="js/script.js"> </script>

	<script src="app.js"></script>

	<script src="controller/service.js"></script>
	<script src="controller/controller.js"></script>
	<script src="controller/footer-controller.js"></script>



</body>
</body>
</html>