<html>
<head>
	<title>Map</title>
	<link rel="stylesheet" type="text/css" href="style.css">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Tangerine|Inconsolata|Droid+Sans">
</head>

<body ng-app= "myApp" ng-controller = "AppCtrl">

	<div class="container">

		<div class="settings">

			<!-- <div class="beta">

				<p>Still in beta phase</p>

			</div> -->

			<div class="option1" >
				<input id="input"  type="text" size="60" ng-model="input" googleplace>
				<button id="yelpbutton"  ng-click="search()" class="btn btn-primary">Search</button>
				<button id="button" class="btn btn-info">Show Direction</button>
				<button id="next" class="btn btn-primary" ng-click="next()">Next</button>
				<button id="reset" class="btn btn-danger" ng-click="reset()">Reset</button>

			</div>


			<hr>

		</div>

	</div>

		<div id="result">
			<h4>{{display_name}}</h4>
			<img ng-src="{{rating_img}}">
			<p>"{{snippet}}"</p>
			<p id="modify"></p>
		</div>

		<div class="inline">

			<div id="map-canvas">

			</div>

			<div class="yelp">

				<div class="yelp-background">

					<h4> {{name}}</h4>
					<h4>{{address}}</h4>
					<h4> {{status}}</h4>
					<h4>{{rating}}</h4>
					<h4>{{contact}}</h4>
					<h4><a href="{{url}}" id="yelplink" target="_blank"> {{link}}</a></h4>
				</div>

			</div>


		</div>

		<div class="container final">

			<div class="thanks">

				<h2>Thanks To</h2>
				<div class="image_div">
					<img src="http://screenshots.en.sftcdn.net/en/scrn/97000/97769/google-maps-53-535x535.png" class="image" id="left">
					<h3 id="center">AND</h3>
					<img src="https://s3-media2.fl.yelpcdn.com/assets/srv0/seo_metadata/e98ed5a1460f/assets/img/logos/yelp_og_image.png" id="right" class="image">

				</div>
			</div>

		</div>

		<div id="footer">

			<p>&copy; 2016 Rashul Rajbhandari<p>

		</div>



	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDs9B3tpfCGaVmvWZ-gdMbvckaiU4Q8Azw&libraries=places" type="text/javascript"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>

	<script src="js/Mapster.js"></script>
	<script src="js/map-options.js"> </script>
	<script src="js/script.js"> </script>

	<script src="app.js"></script>

	<script src="controller/service.js"></script>
	<script src="controller/controller.js"></script>


</body>
</body>
</html>