html, body{
    margin: 0;
    padding: 0;
}


.mainContainer{
    background-color: #EFEFEF;

}




.lead{
    padding-top: 5px;
    color: white;
    padding-left: 30px;
}


.option1{
   margin-bottom: 20px;

}

#button{
    margin-bottom: 5px;
}


.inline {
    margin-left: 20px;
    height: 450px;
    width: 100%;
}


.result_link{
    color: #088AB2;
}



#map-canvas{
    height: 70%;
    width: 100%;
    visibility: hidden;


}

.search{
    width: 357px;

}

#footer {
    clear: both;
    bottom: 0;
    width: 100%;
    font-size: 1em;
    margin-top: 40px;
}

#footer p{
    text-align: center;
}

.center{
    text-align: center;
}

.header{
    top: 40%;
}



.option2{
    display: inline-flex;
}


#modify{
    font-size: 1.2em;
    color: #2AABD2;
}

#input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;

        margin-left: 12px;
        padding: 0 11px 0 13px;
        width: 550px;
        line-height: 30px;
        text-align: center;
        height: 40px;

      }



.yelp{
        margin-top: 20px;
        height: 400px;
        width: 100%;
      }

.yelp-background{
    margin-left: 50px;
    font-family: "Droid Sans", serif;
    height: 100%;
}



.find {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-top: 20px;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 300px;
      }

#result{

        text-align: center;
        visibility: hidden;
        margin: 0 auto;
        padding: 0;
        margin-top: -10px;
        margin-bottom: 20px;
      }

#restaurantImg{
    height: 80px;
    width: 130px;
}


#next {
    width:100px;
}


.m-left{
    margin-left: 15px;
}

.m-left:hover{
    cursor: pointer;
    font-size: 40px;
 }





#info{
    width: 300px;
}

.infoLink{
    text-align: center;
}

.slideshow-container {
  max-width: 1000px;
  margin-top: 30px;
  margin-bottom: 20px;
  margin: auto;
  width: 100%;
  margin: 0 auto;
  visibility: hidden;

}

.image{
  float: left;
  height: 200px;
  width: 200px;
  margin-left: 5px;
}

.image:hover{
    height: 250px;
    width: 250px;
}

.typed-cursor{
            opacity: 1;
            font-size: 1.2em;
            -webkit-animation: blink 0.7s infinite;
            -moz-animation: blink 0.7s infinite;
            -ms-animation: blink 0.7s infinite;
            -o-animation: blink 0.7s infinite;
            animation: blink 0.7s infinite;
}

.intro{
    height: 55px;
    text-align: center;
}

#typed-strings{
    margin-top: 30px;
}

#typed{
    font-size: 1.2em;
    font-family: "Inconsolata", serif;
}

#accordion{
    margin-top: 30px;
    visibility: hidden;

}

.panel-heading{
    margin-top: -15px;
}

.panel-title{

    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.panel-title a{
     font-size: 0.9em;
     font-weight: bold;
}

.panel-collapse{
    font-size: 0.8em
}





