
.settings{
    margin-top: 50px;
}

.option1{
   margin-bottom: 20px;

}


.inline {
    margin-left: 20px;
    height: 500px;
    width: 100%;
}



#yelplink{
    color: #D32323;
}


#map-canvas{
    height: 70%;
    width: 100%;


}

.search{
    width: 357px;
    background-color: green !important;
}

#footer {
    clear: both;
    bottom: 0;
    width: 100%;
    font-size: 0.9em;
}

#footer p{
    text-align: center;
}

.center{
    text-align: center;
}

.header{
    top: 40%;
}



.option2{
    display: inline-flex;
}


#modify{
    font-size: 1.2em;
    color: #2AABD2;
}

#input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-top: 10px;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        width: 350px;
        line-height: 30px;
      }

.yelp{
        margin-top: 40px;
        height: 100%;
        width: 100%;
      }

.yelp-background{
    margin-left: 50px;
    font-family: "Droid Sans", serif;

}



.find {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-top: 20px;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 300px;
      }

#result{

        text-align: center;
        visibility: hidden;
        margin: 0 auto;
        padding: 0;
        margin-top: -10px;
      }


#next {
    width:100px;
}








#info{
    width: 300px;
}

.infoLink{
    text-align: center;
}