html{
	height: 100%;
}

body{
	height: 100%;
	padding: 0;
	margin: 0;
}

.beta{
    float: left;
    display: inline-block;
    color: white;
    border: 1px solid black;
    background-color: #C3002F;
}

.inline div{
    float: left;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 0.9em;
}

#footer p{
    text-align: center;
}

.center{
    text-align: center;
}

.header{
    top: 40%;
}


.settings{
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 10px;
}

.option1{
    display: inline;
    margin-bottom: 40px;
}

.option2{
    display: inline-flex;
}

#map-canvas{
	height: 60%;
    width: 60%;
}

#modify{
    font-size: 1.2em;
}

#input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-top: 10px;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        width: 350px;
        line-height: 30px;
      }

#button{
        height: 40px;
        width: 70px;
        background-color: black;
        color: white;
        font-size: 1em;

      }

.find {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-top: 20px;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 300px;
      }

#result{
    clear:both;
        text-align: center;
        visibility: hidden;
        margin: 0 auto;
        padding: 0;
      }



#info{
    width: 300px;
}

.infoLink{
    text-align: center;
}